{% extends "base.html" %}
{% block title %}{{user.username}}{% endblock %}
{% block head %}
 Profile
{% endblock %}
{% block content %}
    <h1> Profile is filled on {{proc}}% </h1>
    <h2>{{ user.username }}</h2>
    <p>Email: {{ user.email }}</p>
    {% if user.first_name %}
    	<h2>Name: {{ user.first_name }}</h2>
    {% endif %}
    {% if user.last_name %}
    	<h2>Surname: {{ user.last_name }}</h2>
    {% endif %}
    {% if user.date_of_birth %}
    	<h2>Birthday: {{ user.date_of_birth }}</h2>
    {% endif %}
    {% if user.telephone %}
    	<h2>Telephone: {{ user.telephone }}</h2>
    {% endif %}
    {% if user.job %}
    	<h2>Job: {{ user.job }}</h2>
    {% endif %}
    {% if user.avatar %}
    	<p><img border="0" alt="Profile Pic" src="{{ MEDIA_URL }}{{ user.avatar}}" /></p>
    {% endif %}
    <hr>
    <h1>UNDER THIS MUST BE HIDDEN LIST OF FORMS</h1>
    <form role="form" method="post" action="/profile/">
        {% csrf_token %}
        <div class="form-group">
            <input id="first-name" name="first-name" placeholder="First name">
        </div>
        <div class="form-group">
            <input id="last-name" name="last-name" placeholder="Last name">
        </div>
        <div class="form-group">
            <input id="telephone" name="telephone" placeholder="Telephone">
        </div>
        <div class="form-group">
            <input id="job" name="job" placeholder="Job">
        </div>
        <h1> Changing password </h1>
        <div class="form-group">
            <input id="password1" name="password1" placeholder="Enter new password">
        </div>
        <div class="form-group">
            <input id="password2" name="password2" placeholder="Confirm new password">
        </div>
        <input type="submit" class="btn btn-primary" value="Edit" />
    </form>
{% endblock %}