{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}

{% block content %}
    <form method="post" id="ajaxform" action='.'>
    	{% csrf_token %}
        <table id="table" border="0">
        	{{ form.non_field_errors }}
        	{{ form.errors }}
        	{{ form.as_table }}
        </table>
        <div id="loading" style="display:none;">
            <span id="load_text">loading...</span>
        </div>
        <div id="form_ajax" style="display:none;">
            <span>Form submit successfully.</span>
        </div>
        <div id="form_ajax_error" style="display:none;">
            <span>Can not submit data due to errors.</span>
        </div>
        <p id="sendwrapper"><input type="submit" value="Register" id="registerbutton"/></p>
    </form>
{% endblock %}