*{
    font-family: 'Lato', sans-serif
}

html, body {
    height: 100%;
}

#wrapper{
    margin-right: 2px;
    min-height: 100%;
    height: 100%;

}

a {
	color: #35A49C;
}
a:hover {
	color: #79CDC0;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-image: -moz-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-image: -ms-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-image: -o-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-color: #4E827B;
    border-color: #4E827B;
}

#scroll_up {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
    z-index: 2000000;
    display: block;
    height: 38px;
    width: 38px;
    background: url("../img/top.png") no-repeat;
}

.clear, #footer {
    clear: both;
}

#wrapper {
    padding-top: 100px;
}

/*===========================
  --- Tiles ----
=========================== */

#tiles_menu {
    height: 450;
    min-width: 1000px;
    max-width: 1400px;
    overflow: hidden;
    margin-bottom: 25px;

}

.tile {
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 2px;
    overflow: hidden;
    background-size: cover;
}

.s_tile {
    height: 150px;
}

.m_tile, .l_tile {
    height: 300px;
}

.tile_title {
    color: #ffffff;
}

.l_tile_col1 {

}

#tile2 {
    border-right: 2px solid #ffffff;
}

.htile {
    margin: 10px;
    color: #FDFDFD;
    font-size: 24px;
    font-weight: bolder;
    display: block;
}

.shtile {
    font-size: 18px;
}
/*===========================
  --- Header menu ----
=========================== */
.nav li {
	height: 100%;
	line-height: 100%;
	margin-bottom: 0;
	padding-bottom:0;
}

.nav>li>a {
	display: table-cell;
	height: 100%;
	line-height: 100%;
	vertical-align: middle;
	color: #fff;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
}

.nav>li>a:hover {
	background: none;
}

.navbar-nav {
	float: right;
	margin-bottom: 0;
	padding-bottom:0;
}


h1 a.navbar-brand {
	font-size: 24px;
	color: #fff;
	font-weight: 900;
	text-shadow: none;
    position: relative;
    top: -15px;
    margin-right: 40px;
}

.navbar-brand {
	padding: 0;
	display: table-cell;
	line-height: 90px;
}

.nav>li>a:hover {
	color: #79CDC0;
}

.navbar .navbar-nav > .active > a {
	color: #79CDC0;
}

/*===========================
  --- Top news ----
=========================== */

#top_news {
    height: 300px;
    background-color: #70B9B0;
    color: #FDFDFD;
    text-align: center;
    margin-bottom: 70px;
}

.new_title {
    color: #FFFFFF;

}

.top5 {
    padding: 0 30px;
    height: 300px;
}

.vline {
    height: 250px;
    float: right;
    border-left: 1px solid #FDFDFD;
    position: absolute;
    top: 30px;
    left: 0;
}

.top_link {
    color: #FFFFFF;
}

.top_link:hover {
    color: #FFFFFF;
}

.navbar-form input {
    width: 100px;
}

#search {
    margin-left: 10px;
    margin-right: 10px;
}

/*===========================
  --- Content ----
=========================== */

#content {
    margin-bottom: 30px;
    margin-top: 20px;
}

#content_title {
    margin-left: 40px;
    color:  #c0c0c0;
    margin-bottom: 30px;
}

#content > .media {
    margin-bottom: 35px;
    padding-right: 20px;
}

a.list-group-item.active, a.list-group-item.active:hover {
    background-image: -webkit-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-image: -moz-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-image: -ms-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-image: -o-linear-gradient(top, #35A49C 0, #4E827B 100%);
    background-color: #4E827B;
    border-color: #4E827B;
}

#news_date {
    margin-left: 20px;
    padding-left: 10px;
    color:  #c0c0c0;
    border-left: 3px solid #5BC0DE;
}

#top_label {
    font-size: 20px;
    float: right;
}

#tags {
    float: right;
    margin-top: 20px;
    color: #c0c0c0;
}

.jumbotron {
    margin-top: 30px;
    border-radius: 5px;
    color: #FDFDFD;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#comments {
    margin-top: 60px;
}

.body_comment {
    margin: 5px 20px;
}

#id_comment {
    width: 70%;
}

/*===========================
  --- Footer ----
=========================== */

#footer {
    overflow: hidden;
    padding: 80px 0 60px 0;
}

#footer {
	background: #242424;
	margin: 0;
}

#footer .copyright {
	text-align: center;
    margin-top: 30px;
    color: #FDFDFD;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

ul.footer-menu {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.footer-menu li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-circle li a {
	background:#35A49C;
}

.align-center {
   text-align: center;
}

#form_ajax_error, .errorlist {
    color: red;
}