{% extends 'base.html' %}
{% load staticfiles %}
{% block content_title %}
    <h1 id="content_title">{{ content_title }}</h1>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 80
        });
    </script>
{% endblock %}