{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load comments %}

{% block content_title %}
    <div class="col-md-7">
        <div class="jumbotron" style="background: #4E827B url({{ MEDIA_URL }}{{ object.main_image}}) no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  background-size: cover;">
            <h1>{{ object.title }}</h1>
            <div id="news_date">{{ object.pub_date }}</div>
            <div id="top_label">
            {% if object.important %}
                <span class="label label-danger">Important</span>
            {% endif %}
            <span class="label label-info top_label">
                <span class="glyphicon glyphicon glyphicon-eye-open"></span>
                {{ top_counter }}
            </span>
            </div>
            <p></p>
        </div>
    </div>
{% endblock %}
{% block content %}
    {{ object.body|markdown }}
    <div id="tags" class="col-md-3">
        Tags:&nbsp;
        {% for tag in object.tags.all %}
            <a href="{% url 'search_tag' tag.slug %}">{{ tag }}</a>
        {% endfor %}
    </div>
    <div id="comments">
        {% get_comment_count for object as comment_count %}
            <p>{{ comment_count }} comments have been posted.</p>
        {% get_comment_list for object as comment_list %}

            {% for comment in comment_list %}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</h3>
                </div>
                <div class="body_comment">
                    <p>{{ comment.comment }}</p>
                </div>
            </div>
            {% endfor %}

        {% get_comment_form for object as form %}
        {% if user.is_authenticated %}
            {% get_comment_form for object as form %}
            <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment }}
                <!--{{ form.honeypot }}-->
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="submit" class="btn btn-primary" value="Add comment" id="id_submit" />
                <input type="hidden" name="next" value="{{object.get_absolute_url}}" />
                <!-- name 'next' => redirect after add a comment-->
            </form>
        {% else %}
            <p>Please <a href="#login" data-toggle="modal" data-target="#login">log in</a> to leave a comment.</p>
            <div class="modal fade" id="login" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                                <p style="margin: 0.4em;">
                                  <a href="{% url 'socialauth_begin' 'vk-oauth' %}">Enter VK</a>
                                </p>
                                <p style="margin: 0.4em;">
                                  <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Enter Google</a>
                                </p>
                                <p>or <a href="{% url 'register' %}">Register</a></p>
                                <input type="submit" class="btn btn-primary" value="Login" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
