{% extends 'base.html' %}
{% load staticfiles %}
{% block tiles_menu %}
    {% if tiles_list|length == 7 %}
        <div id="tiles_menu">
            <div class="col-md-6 tile">
                <div class="tile l_tile" style="background-image: url({{ tiles_list.0.main_image.url }});">
                    <a class="htile" href="{% url 'news_read' tiles_list.0.slug %}">{{ tiles_list.0.title }}</a>
                </div>
                <div id="tile2" class="col-md-6 tile s_tile" style="background-image: url({{ tiles_list.3.main_image.url }});">
                    <a class="htile shtile" href="{% url 'news_read' tiles_list.3.slug %}">{{ tiles_list.3.title }}</a>
                </div>
                <div class="col-md-6 tile s_tile" style="background-image: url({{ tiles_list.4.main_image.url }});">
                    <a class="htile shtile" href="{% url 'news_read' tiles_list.4.slug %}">{{ tiles_list.4.title }}</a>
                </div>
            </div>
            <div class="col-md-3 tile">
                <div class="tile s_tile" style="background-image: url({{ tiles_list.5.main_image.url }});">
                    <a class="htile shtile" href="{% url 'news_read' tiles_list.5.slug %}">{{ tiles_list.5.title }}</a>
                </div>
                <div class="tile m_tile" style="background-image: url({{ tiles_list.1.main_image.url }});">
                    <a class="htile" href="{% url 'news_read' tiles_list.1.slug %}">{{ tiles_list.1.title }}</a>
                </div>
            </div>
            <div class="col-md-3 tile">
                <div class="tile s_tile" style="background-image: url({{ tiles_list.6.main_image.url }});">
                    <a class="htile shtile" href="{% url 'news_read' tiles_list.6.slug %}">{{ tiles_list.6.title }}</a>
                </div>
                <div class="tile m_tile" style="background-image: url({{ tiles_list.2.main_image.url }});">
                    <a class="htile" href="{% url 'news_read' tiles_list.2.slug %}">{{ tiles_list.2.title }}</a>
                </div>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}
{% block top_news %}
    {% if top_list|length == 4 %}
        <div id="top_news">
            {% for cat, news in top_list.items %}
                <div class="col-md-3 top5">
                    <h2 class="new_title">{{ cat.title }}</h2>
                    {% for n in news %}
                        <p>
                            <a class="top_link" href="{% url 'news_read' n.slug %}">{{ n.title }}</a>
                        </p>
                    {% endfor %}
                    <div class="vline"></div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 80
        });
    </script>
{% endblock %}