{% load endless %}
{% lazy_paginate news_list %}
{% for n in news_list %}
    <div class="media">
      <a class="pull-left" href="{% url 'news_read' n.slug %}">
{#                        todo#}
        <img class="media-object img-circle"  style="height: 150px; width: 150px;" src="{{ n.main_image.url }}">
      </a>
      <div class="media-body">
        <a href="{% url 'news_read' n.slug %}"><h4 class="media-heading">{{ n.title }}</h4></a>
        {{ n.annotation }}
      </div>
    </div>
{% endfor %}
{% show_more %}