<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %}PyBlog{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="header" class="appear"></section>
    <div id="wrapper">
        <div id="head">
            <!--bar-->
            <div class="navbar navbar-fixed-top" data-0="line-height:100px; height:100px; background-color:rgba(78,130,123,1);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
                <div class="container">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-0="margin-top:23px;" data-300="margin-top:8px;">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                       </button>
                       <h1><a class="navbar-brand" href="{% url 'news_index' %}" data-0="line-height:90px;" data-300="line-height:50px;">PyBlog</a>
                   </div>
                   <div class="navbar-collapse collapse">
                       <ul class="nav navbar-nav navbar-right" data-0="margin-top:20px;" data-300="margin-top:5px;">
                           <li><a href="{% url 'news_important' %}">Important</a></li>
                           <li><a href="{% url 'news_top' %}">Top News</a></li>
                           {% if user.is_authenticated %}
                           <li><a href="{% url 'profile' %}">Profile</a></li>
                           <li><a href="{% url 'logout' %}">Log Out</a></li>
                           {% else %}
                           <li><a href="#login" data-toggle="modal" data-target="#login">Log in</a></li>
                           {% endif %}
                       </ul>
                        <form class="navbar-form" id="search" role="search" action="/search" method="GET" data-0="margin-top:23px;" data-300="margin-top:8px;">
                           <div class="form-group" style="display:inline;">
                               <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                    <input class="form-control" name="q" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
                               </div>
                           </div>
                        </form>
                   </div>
               </div>
            </div>
            <div class="modal fade" id="login" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" class="form-control" id="username" name="username" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                                </div>
                                <p style="margin: 0.4em;">
                                  <a href="{% url 'socialauth_begin' 'vk-oauth' %}">Enter VK</a>
                                </p>
                                <p style="margin: 0.4em;">
                                  <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Enter Google</a>
                                </p>
                                <p>or <a href="{% url 'register' %}">Register</a></p>
                                <input type="submit" class="btn btn-primary" value="Login" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% block tiles_menu %}{% endblock %}
            {% block top_news %}{% endblock %}
            {% block content_title %}{% endblock %}
        </div>
        <div class="clear"></div>
        <!--content-->
        <div id="content" class="col-md-9">
            {% block content %}
                {% include page_template %}
            {% endblock %}
        </div>
        <div id="right_bar" class="col-md-3">
            {% block categories_list %}
                <div class="content_list">
                    <div class="list-group">
                        {% for c in categories_list %}
                            {% if c.id == current_category %}
                                <a href="#" class="list-group-item active">{{ c.title }}</a>
                            {% else %}
                                <a href="{% url 'categories' c.id %}" class="list-group-item">{{ c.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
            <div class="col-md-12 align-center">
                <ul class="social-network social-circle">
                    <li><a href="{% url 'feed' %}" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row align-center copyright">
                <div class="col-md-12"><p>Copyright &copy; 2014 Saimon Gordeev & Dmitry Mahrachev</p></div>
        </div>
    </div>
    {%  block js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'js/skrollr.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/jquery-scrolltofixed-min.js' %}"></script>
        <script src="{% static 'js/jquery.form.min.js' %}"> </script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/ajax.js' %}"></script>
    {% endblock %}
  </body>
</html>
